    /* HEADER SECTION STYLING */
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    main {
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .bg-sage {
        background-color: #97FEED;
    }
    
    .bg-pastel {
        background-color: #0B666A;
    }
    
    .bg-green {
        background-color: #0B666A;
    }
    
    .link {
        text-decoration: none;
        padding: 5px;
        margin: 0px;
    }
    
    .text-white {
        color: #fff;
    }
    
    .text-black {
        color: #000;
    }
    
    #headerNavigation {
        display: flex;
        justify-content: space-between;
    }
    
    #navigation {
        display: flex;
        gap: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        align-items: center;
        margin-right: 3%;
    }
    
    #navigation li {
        list-style-type: none;
    }
    
    #headerTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    #headerTitle h1,
    h3 {
        margin: 20px 0 20px 0;
    }
    
    #headerTitle h5 {
        margin: 30px;
        text-align: justify;
    }
    
    .titleSubtitle {
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    /* MAIN SECTION STYLING */
    
    #CallUs {
        display: flex;
        /* flex-direction; row; */
        gap: 16px;
    }
    
    #article {
        flex-basis: 80%;
    }
    
    #form {
        background-color: #ddd;
        margin-left: 10px;
        border-radius: 10px;
        padding: 20px;
        font-size: 15px;
        text-align: left;
    }
    
    #ourpackage {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 20px 0 20px 0;
        background-color: #ddd;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .argumenclosing {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 50px;
        text-align: justify;
    }
    
    .h2 .mySlides {
        display: none;
    }
    
    img {
        vertical-align: middle;
    }
    /* Slideshow container */
    
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }
    /* Caption text */
    
    .text {
        color: #000;
        font-size: 15px;
        padding: 8px 12px;
        position: relative;
        bottom: 8px;
        margin-top: 10px;
        text-align: center;
    }
    /* Number text (1/3 etc) */
    
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    /* The dots/bullets/indicators */
    
    .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    
    .active {
        background-color: #717171;
    }
    /* Fading animation */
    
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }
    /* On smaller screens, decrease text size */
    
    @media only screen and (max-width: 300px) {
        .text {
            font-size: 11px
        }
    }
    
    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=submit] {
        width: 100%;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #000;
    }
    /* div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    } */
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        font-size: 30px;
        text-align: center;
        box-sizing: border-box;
    }
    
    .flex-item-left {
        padding: 10px;
        flex: 70%;
    }
    
    .flex-item-right {
        padding: 10px;
        flex: 30%;
    }
    /* Responsive layout - makes a one column-layout instead of a two-column layout */
    
    @media (max-width: 800px) {
        .flex-item-right,
        .flex-item-left {
            flex: 100%;
        }
    }
    
    .tutorial {
        margin-left: 60px;
        margin-right: 60px;
    }
    /* CSS */
    
    .button-14 {
        background-image: linear-gradient(#0B666A, #0B666A);
        border-color: #1b948c #a2a6ac #8d9096;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        box-shadow: rgba(255, 0, 0, 0.6) 0 1px 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        /* display: inline-block; */
        font-family: "Amazon Ember", Arial, sans-serif;
        font-size: 14px;
        height: 40px;
        font-size: 20px;
        outline: 0;
        overflow: hidden;
        padding: 0 20px;
        text-align: center;
        text-decoration: none;
        text-overflow: ellipsis;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        margin-top: 20px;
    }
    
    .button-14:active {
        border-bottom-color: #a2a6ac;
    }
    
    .button-14:active:hover {
        border-bottom-color: #a2a6ac;
    }
    
    .button-14:hover {
        border-color: #a2a6ac #979aa1 #82858a;
        background-color: #000;
    }
    
    .button-14:focus {
        border-color: #e77600;
        box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
        outline: 0;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
    
    .grid-item h2 {
        font-size: 25px;
    }
    
    .grid-item p {
        font-size: 18px;
        text-align: justify;
    }
    
    .card {
        color: white;
        padding: 1rem;
    }
    
    .cards {
        max-width: 1200px;
        margin: 0 auto;
        margin-left: 30px;
        margin-right: 30px;
        display: grid;
        grid-gap: 1rem;
    }
    /* Screen larger than 600px? 2 column */
    
    @media (min-width: 600px) {
        .cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    /* Screen larger than 900px? 3 columns */
    
    @media (min-width: 900px) {
        .cards {
            grid-template-columns: repeat(3, 1fr);
        }
    }